body{
    border: 1px Dashed red ;
    background-color: #E8E8E8 ;
}
.a-tbdr{
    border: 1px Dashed green ;
}
header{
    height: 81px ;
    width: 87% ;
    margin-left:100px ;

}
main{
    height: 3650px ;
    top: 80px ;
    margin: auto ;
}
.a-footer1{
    height: 259px ;
}
.a-footer2{
    height: 117px ; 
}
.a-footer3{
    height: 500px ;  
}
.a-footer4{
    height: 393px ;
}
@media (max-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl 
        max-width: 1450px;
}




