body{
    border: 1px Dashed red ;
    background-color: #E8E8E8 ;
}
.a-tbdr{
    border: 1px Dashed green ;
}
header{
    height: 81px ;
    width: 93% ;
    margin:auto ;
}
.row{
    width: 100% ;
    margin-left: 2px ;
    height: 100% ;
}
ul.a-menu > li :hover{
    background-color: #EBEBEB ;
    cursor:  pointer ;
    border-radius: 5px ;
}
.a-menu > li:hover ul{
    display: block ; /* show */
}
.a-submenu{
    width: 100px ;
    display: none ; /* Hide */
} 
main{
    height: 3650px ;
    margin-top: 80px ;
}
.a-footer1{
    height: 259px ;
}
.a-footer2{
    height: 117px ; 
}
.a-footer3{
    height: 593px ;  
}
.a-footer4{
    height: 300px ; 
}

@media (min-width: 1450px){
    .container, .container-lg, .container-md, .container-sm 
{
    max-width: 1438px;
}
}