body{
    font-family: 'Poppins', sans-serif;
    border: 1px Dashed red ;
    background-color: #E8E8E8 ;
}
.a-img{
    padding: 200px ;
}
.position-sticky{
    z-index: 1000 !important;
}
#exampleModal2{
    backdrop-filter: blur(15px);
    z-index: 10000 !important;
}
.a-scrollToTop{
    animation-name: stp;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -o-animation-direction: alternate;
}
@keyframes stp{
    from{
        opacity: 0;
        transform: scale(0,0);
    }
    to{
        opacity: 1;
        transform: scale(1,1);
    }
}
.a-tbdr{
   border: 1px Dashed red !important ;
}
header{
    min-height: 81px ;
    width: 100% ;
    margin:auto ;
    z-index: 10000;
}
.a-ccp,.a-ccn{
    visibility: visible ;
}
.a-mainslider:hover{
    cursor: pointer ;
}
.a-mainslider .a-ccp,.a-mainslider .a-ccn{
    background-color: rgba(0,0,0,0.8);
    width: 30px ;
    height: 30px ;
    border-radius: 30px ;
    visibility: hidden ;
}
.a-mainslider:hover .a-ccp,.a-mainslider:hover .a-ccn{
    visibility: visible ;
}
.a-ccp{
    left: 15px ;
}
.a-ccn{
    right: 15px ;
}
.a-mainslider img{
    height: 275px ;
    width: 100% ;
}

.carousel-indicators button{
    width: 6px !important ;
    height: 6px !important ;
}
.a-b2b{
    /*
    stransform-origin: x-axis y-axis
    */ 
    transform-origin: left center;
    background-color: #0F7DD8 !important;
    transform: scale(.8 , .8);
    transition: all linear .3s;
    left:-48px !important;    
}
.a-m11{
    min-height: 120px ;
    border-color: 1px solid red ;
}
.a-raj{
    bottom: 36px !important ;
}
.a-inputA{
    background-color: #EEEEEE ;
}
.a-inputB :focus{
    background-color: transparent ;
}
.a-inputfocus :focus{
    border-color: white ; 
   
}
.a-orange{
    background-color: #FF7D18 ;
    height: 100% ;

}
.a-m22{
    min-height: 240px !important;
}
ul.a-m33-icon > li > a:hover{
    background-color: #fff ;
}
ul.a-m33-icon > li a > img{
    width: 65px ;
    height: 65px ;
}
ul.a-m33-icon > li > a:hover > img{
    box-shadow: 0px  0px  5px  5px  rgba(0, 0, 0, 0.05) ;
}
.a-m44{
    height: 540px;
}
.row{ 
    width: 100% ;
    margin-left: 2px ;
    height: 100% ;
    .a-tbdr{
        border: 1px solid white ;
    }
}
ul.a-menu > li :hover{
    background-color: #EBEBEB ;
    cursor:  pointer ;
    border-radius: 5px ;
}
.a-menu > li:hover ul{
    display: block ; /* show */
}
.a-submenu{
    width: 100px ;
    display: none ; 
} 
main{
    height: 3650px ;
    margin-top: 80px ;
}
.a-footer1{
    height: 259px ;
}
.a-footer2{
    height: 117px ; 
}
.a-footer3{
    height: 593px ;  
}
.a-footer4{
    height: 300px ; 
}
.a-tnr{
    font-family: 'Times New Roman', Times, serif ;
}
.a-blue{
    color: #0078DB !important;
}
.a-custom-smalles{
    font-size: 15px !important;
}
.a-m55 img:hover{
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.03);
}
.a-m55 a:hover{
    background-color: transparent;
}
.a-m-Popular-Brands{
    
}
.a-pop-slider{
    height: 330px ;
}
::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: bold ;
    color: #333 !important ;
    opacity: 0.5 !important ;
 }
  
 :-moz-placeholder { /* Firefox 18- */
       font-size: 15px;
       font-weight: bold ;
       color: #333 !important ;
    opacity: 0.5 !important ;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 15px;
       font-weight: bold ;
       color: #333 !important ;
    opacity: 0.5 !important ;
 }
 
 /* Overriding styles */
 
 ::-webkit-input-placeholder {
    font-size: 15px!important;
    font-weight: bold ;
    color: #333 !important ;
    opacity: 0.5 !important ;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 15px!important;
       font-weight: bold ;
       color: #333 !important ;
    opacity: 0.5 !important ;
 }
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 15px!important;
       font-weight: bold ;
       color: #333 !important ;
    opacity: 0.5 !important ;
 }
 .a-input-img{
    float :right !important;
 }
    /* custom.css */
 .a-inputfocuse:focus {
    border-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
 }
 .a-search-form{
    position: fixed !important;
    top: 15px ;
    left: 200px ;
    z-index: 10000 ;
    background-color: #fff ;
    transition: all linear 5s !important ;
 }
 
 .a-animation{
    animation-name: myanimation ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-direction: alternate;
 }
.a-xyz > img{
    transform-origin: right bottom ;
    transform: scale3d(1,1,1) ;
    transition: all linear 0.2s ;
}
.a-xyz:hover > img{
    transform: scale3d(1.1,1.1,1) ;
}
.a-xyz > span{
    transform-origin:left bottom ;
    transform: scale3d(1,1,1) ;
    transition: all linear 0.2s ;
}
.a-xyz:hover .a-b2b{
    left: 0px !important ;
}
.a-xyz:hover .a-b2b{
    color: #0F7DD8;
    background-color: #fff;
}
.a-xyz:hover i{
    color: #085799 !important;
}
.a-xyz:hover > span{
    transform: scale3d(1.1,1.1,1) ;
}
 @keyframes myanimation{
    0%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-42px);
    }
    100%{
        transform: translateY(-42px);
    }
 }
 @media screen and (min-width: 577px){
    main{
        padding-left: 45px ;
        padding-right: 45px;
    }
 }
 @media screen and (max-width: 576px){
    main{
        padding-left: 20px ;
        padding-right: 20px;
    }
}
 @media screen and (max-width: 576px){
    footer{
        position: fixed ;
        width: 90% ;
        bottom: 0px ;
        left: 0px ;
        margin-left: 22px ;
    }
 }

@media screen and (min-width: 480px) {
    .a-form-col{
        height: 50px ;
    }
  }

@media (min-width: 1450px){
    .container, .container-lg, .container-md, .container-sm 
{
    max-width: 1438px;
}
}